@import 'reset.css';
@import 'constants.css';
@import 'app.css';

/*
  nezznomi
*/

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: rgb(251, 251, 250);
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
    Meiryo, sans-serif, 'Segoe UI Emoji';
}

header {
  padding: 1rem;
}

footer {
  padding: 1rem;
  text-align: center;
  background-color: #f9f9f9;
  min-height: 100px;
}

nav > ul {
  list-style: none;
  padding: 0;
}

nav > ul > li {
  display: inline;
}

nav > ul > li + li {
  margin: 0 0 0 0.5rem;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  text-decoration: underline;
}

main {
  background-color: #fff;
  margin: 8px;
  padding: 2rem;
  border-radius: 4px;
  border: 1px solid #eee;
}

main h1 {
  margin-top: 0;
}

a {
  color: #333;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 4px;
  overflow: hidden;
  margin: 8px;
}

blockquote {
  border-left: 4px solid #eee;
  padding: 0.5rem;
  padding-left: 1rem;
  background-color: #f9f9f9;
}

blockquote p {
  margin: 0;
  padding: 0;
}

blockquote cite {
  font-size: 0.8em;
  display: block;
  margin-top: 0.5em;
  text-align: right;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  color: var(--c-primary-dark);
}

h2 {
  font-size: 1.5rem;
  border-bottom: 3px solid #eee;
}

label {
  display: block;
}

label input,
label textarea {
  margin-top: 0.25rem;
}

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #aaa;
  margin-bottom: 1rem;
  width: 100%;
}

label input[type='checkbox'],
label input[type='radio'] {
  width: auto;
  margin-bottom: 0;
}

textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #aaa;
  margin-bottom: 1rem;
  width: 100%;
  resize: vertical;
}

fieldset {
  border: 1px dotted #aaa;
  border-radius: 4px;
}

legend {
  padding: 0 0.5rem;
  font-weight: bold;
}

article > p {
  line-height: 2;
  font-size: 1rem;
}

article > p + * {
  margin-top: 1.5rem;
}

.w-1\/2 {
  width: 50%;
}

/*
レイアウト
 */

.column {
  display: flex;
  flex-direction: column;
}

.rows {
  display: flex;
  flex-direction: row;
}

.stack > * + * {
  margin-top: 1rem;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}

.sidebar {
  width: 25%;
  margin-right: 1rem;
}

/*
  warning
*/
li+: not(li) {
  background-color: red;
}
